:root {
  --body-color: rgba(224, 215, 247, 0.877);
}

body {
  background: var(--body-color);
  text-align: center;
}

footer {
  padding: 40px 0;
  background: whitesmoke;
  margin-top: 30px;
}
footer i {
  font-size: 30px;
}

.hero h1 {
  color: rgb(104, 41, 177);
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
}

.about h1 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

.homepage h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
}

.contact h1 {
  margin-top: 100px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
}

.hero h3,
h2 {
  color: rgb(188, 102, 238);
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.hero h3 {
  margin-top: 60px;
}

.homepage h3 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-top: 60px;
}

.project h3 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-top: 50px;
}

.about h3 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-top: 100px;
}

.contact h3 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.about p {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.homepage p {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.contact p {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.project img {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.btn-branding {
  font-size: 18px;
  color: aliceblue;
  background-color: rgba(104, 41, 177, 0.753);
  border-radius: 4px;
  padding: 10px 15px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-bar :nth-child(2) {
  margin: 0 20px;
}

.icons {
  text-decoration: none;
  color: black;
}

.link-github {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

#contact {
  background: rgba(127, 66, 196, 0.541);
  border-radius: 4px;
  width: 80%;
  margin: 50px auto;
  padding: 15px;
}
